<h2 class="section-title">Success Stories</h2>
<p class="section-subtitle">See how HappyMinds has transformed lives.</p>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg">
            <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                    <strong>John Doe</strong>
                </h1>
                <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">"HappyMinds has been a transformative journey, helping me find deep peace, clarity, and a renewed sense of purpose. The sessions are not just insightful but truly life-changing, guiding me toward a healthier and more positive mindset every step of the way."</p>
                
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 image-wrapper">
            <img class="w-100" src="../../assets/profile.jpg" alt=" ">
        </div>
    </div>
    <div class="row row-reverse justify-content-center">

        <div class="col-12 col-md-12 col-lg">
            <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                    <strong>Alex Johnson</strong>
                </h1>
                <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">"The flexible sessions at HappyMinds made it incredibly easy to prioritize my mental well-being, even with my busy schedule. The convenience and adaptability allowed me to seek therapy without stress, making every session a valuable step toward a healthier and more balanced life."</p>
                
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 image-wrapper">
            <img class="w-100" src="../../assets/profile4.jpg" alt=" ">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg">
            <div class="text-wrapper align-left">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
                    <strong>Jane Smith</strong>
                </h1>
                <p class="mbr-text align-left mbr-fonts-style mb-4 display-7">"The community support at HappyMinds has been truly incredible. From the moment I joined, I felt understood, encouraged, and never alone in my journey. The kindness, shared experiences, and uplifting environment have given me the strength to grow and heal with confidence."</p>
                
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 image-wrapper">
            <img class="w-100" src="../../assets/profile3.jpg" alt=" ">
        </div>
    </div>
</div>
