<div class="auth-container">
    <h2>Admin Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="createAdmin()">
  
      <!-- Therapist Name -->
      <div class="input-container">
        <input formControlName="therapistName" type="text" placeholder="Therapist Name" required>
        <div *ngIf="signupForm.get('therapistName')?.invalid && (signupForm.get('therapistName')?.touched || signupForm.get('therapistName')?.dirty)" class="error-message">
          Therapist Name is required.
        </div>
      </div>
  
      <!-- City -->
      <div class="input-container">
        <input formControlName="city" type="text" placeholder="City" required>
        <div *ngIf="signupForm.get('city')?.invalid && (signupForm.get('city')?.touched || signupForm.get('city')?.dirty)" class="error-message">
          City is required.
        </div>
      </div>
  
      <!-- Speciality -->
      <div class="input-container">
        <input formControlName="speciality" type="text" placeholder="Speciality" required>
        <div *ngIf="signupForm.get('speciality')?.invalid && (signupForm.get('speciality')?.touched || signupForm.get('speciality')?.dirty)" class="error-message">
          Speciality is required.
        </div>
      </div>
  
      <!-- Gender -->
      <div class="input-container">
        <select formControlName="gender" required>
          <option value="" disabled selected>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        <div *ngIf="signupForm.get('gender')?.invalid && (signupForm.get('gender')?.touched || signupForm.get('gender')?.dirty)" class="error-message">
          Gender is required.
        </div>
      </div>
  
      <!-- Years of Experience -->
      <div class="input-container">
        <input formControlName="years_experience" type="number" placeholder="Years of Experience" required>
        <div *ngIf="signupForm.get('years_experience')?.invalid && (signupForm.get('years_experience')?.touched || signupForm.get('years_experience')?.dirty)" class="error-message">
          Years of Experience must be a positive number.
        </div>
      </div>
  
      <!-- Qualifications -->
      <div class="input-container">
        <input formControlName="qualifications" type="text" placeholder="Qualifications" required>
        <div *ngIf="signupForm.get('qualifications')?.invalid && (signupForm.get('qualifications')?.touched || signupForm.get('qualifications')?.dirty)" class="error-message">
          Qualifications are required.
        </div>
      </div>
  
      <!-- Workplace -->
      <div class="input-container">
        <input formControlName="workplace" type="text" placeholder="Workplace" required>
        <div *ngIf="signupForm.get('workplace')?.invalid && (signupForm.get('workplace')?.touched || signupForm.get('workplace')?.dirty)" class="error-message">
          Workplace is required.
        </div>
      </div>
  
      <!-- Contact Email -->
      <div class="input-container">
        <input formControlName="contact_email" type="email" placeholder="Contact Email" required>
        <div *ngIf="signupForm.get('contact_email')?.invalid && (signupForm.get('contact_email')?.touched || signupForm.get('contact_email')?.dirty)" class="error-message">
          Please enter a valid contact email address.
        </div>
      </div>

      <!-- password -->
      <div class="input-container">
        <input formControlName="password1" type="password" placeholder="Password" required>
        <div *ngIf="signupForm.get('password1')?.invalid && (signupForm.get('password1')?.touched || signupForm.get('password1')?.dirty)" class="error-message">
          Please enter a valid password.
        </div>
      </div>
  
      <!-- Sign Up Button -->
      <button type="submit" class="btn" [disabled]="!signupForm.valid">Sign Up</button>
    </form>
    <p>Already have an account? <a routerLink="/admin-login">Login</a></p>
  </div>