<nav class="navbar">
    <div class="navbar-logo">
        <i class="fa-solid fa-brain fa-2x"></i>
      <span class="logo-text">&nbsp;HAPPYMINDS</span>
    </div>
    <div class="navbar-links">
      <a routerLink="/login" class="nav-link"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;Login</a>
      <a routerLink="/signup" class="nav-link"><i class="fa-solid fa-user-plus"></i>&nbsp;Sign Up</a>
      <a routerLink="/book-session" class="nav-link"><i class="fa-regular fa-calendar-days"></i>&nbsp;Book Session</a>
      <a routerLink="/chatbot" class="nav-link"><i class="fa-solid fa-robot"></i>&nbsp;Chatbot</a>
    </div>
  </nav>