<section class="success-stories-section">
    <h2 class="section-title">Facilities Provided</h2>
    <p class="section-subtitle">Range of features treat your well being</p>
    <div class="stories-container">
      <!-- Story 1 -->
      <div class="card">
        <img class="card-img-top" src="../../assets/therapy.jpg" alt="User 1">
        <div class="card-body">
          <h5 class="card-title">Personalized Therapy Sessions</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Flexible scheduling to fit your lifestyle.</li>
          <li class="list-group-item">One-on-one sessions with certified therapists.</li>
          <li class="list-group-item">Secure and confidential consultations.</li>
          
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Read Full Story</a>
        </div>
      </div>
  
      <!-- Story 2 -->
      <div class="card">
        <img class="card-img-top" src="../../assets/motivation.jpg" alt="User 2">
        <div class="card-body">
          <h5 class="card-title">Daily Motivation & Well-Being Tips</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Handpicked motivational quotes and affirmations.</li>
          <li class="list-group-item">Mindfulness exercises and stress relief techniques.</li>
          <li class="list-group-item">Guided meditation and breathing exercises.</li>
          
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Read Full Story</a>
        </div>
      </div>
  
      <!-- Story 3 -->
      <div class="card">
        <img class="card-img-top" src="../../assets/self-imp.jpg" alt="User 3">
        <div class="card-body">
          <h5 class="card-title">Self-Improvement Resources</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Curated list of books, podcasts, and articles.</li>
          <li class="list-group-item">Playlists of uplifting and relaxing songs.</li>
          <li class="list-group-item"> Interactive journaling and gratitude prompts.</li>
          
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Read Full Story</a>
        </div>
      </div>

      <div class="card">
        <img class="card-img-top" src="../../assets/assessment.jpg" alt="User 3">
        <div class="card-body">
          <h5 class="card-title">Mood Adaptiveness & Self-Assessment</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Track your emotional well-being over time.</li>
          <li class="list-group-item">Take short quizzes to understand your mood patterns.</li>
          <li class="list-group-item">Receive personalized mental wellness recommendations.</li>
          
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Read Full Story</a>
        </div>
      </div>
    </div>
  </section>